{% extends "layout.html" %}
{% block body %}
    {% for agent in agents %}
    <table>
        <h2>{{ agent["name"] }}</h2>
        <tr>
            <td><b>Phone</b></td>
            <td>{{ agent["phone"] }}</td>
        </tr>        
    </table>

    <h2>Bands signed with {{ agent["name"] }}</h2>
    <table>
        <tr>
            <th>Name</th>            
        </tr>
        {% for band in agent["bands"] %}
        <tr>
            <td>{{ band["name"] }}</td>
        </tr>
        {% endfor %}
    </table>

    {% endfor %} 
{% endblock body %}   